html * {
  font-family: Abibao-Lato;
}
.full.height {
  min-height: 100%;
  height: 100%;
}
.vertical.sidebar.menu {
  border: none;
  border-left: solid #101010 0.25em;
  border-radius: 0;
}
.ui.attached.segment {
  border: none;
}
.pusher {
  margin: 0;
  padding: 1em;
  border-left: solid #101010 0.25em;
  border-right: solid #101010 0.25em;
}
#headers {
  margin-left: 4em;
}