/* #373e44; bleu foncé */
/* #5da2c7; bleu clair */
/* #e7ebee; gris clair */

html, body, #riot-app {
  background: #ffffff;
  width: 100%;
  height: 100%;
}

.grey.lighten-abibao {
  background-color: #e7ebee !important;
}

.grey-text.text-lighten-abibao {
  color: #e7ebee !important;
}

.blue.lighten-abibao {
  background-color: #5da2c7 !important;
}

.blue-text.text-lighten-abibao {
  color: #5da2c7 !important;
}

.blue.darken-abibao {
  background-color: #373e44 !important;
}

.blue-text.text-darken-abibao {
  color: #373e44 !important;
}
